body {
  font-family: Verdana, Helvetica, sans-serif;
}

.index-header{
  font-size: 400%;
  text-align: center;
  background-color: red;
  color: white;
}

img{
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}